server:
  port: 8080

spring:
  application:
    name: jbookshelf
  profiles:
    active: dev

  datasource:
    url: jdbc:h2:mem:jbookshelfdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    root: info
